<% if @hint %>
  <p><%= @hint %></p>
<% end %>
<p> <%=@riddle.text%> </p>
<form action="/first" method="get">
  <div class="form-group">
    <input id="answer-id" name="answer" type="text" class="form-control">
  </div>
  <hr>
  <button type="submit" class="btn">Answer!</button>
</form>
