<!DOCTYPE html>
<html>
  <head>
    <title>The Brige Of Death</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>The Bridge of Death!</h1>
      <%= yield %>
    </div>
  </body>
</html>

