<!DOCTYPE html>
<html>
  <head>
    <title>The Brige Of Death</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>The Bridge of Death!</h1>
      <%= yield %>
    </div>
    <hr>
    <div class="navbar navbar-light background-light navbar-expand-lg">
      <a class= "nav-item nav-link active" href="/riddles">All Riddles </a>
    </div>
  </body>
</html>

