<form action="/riddles" method="post">
  <div class="form-group">
    <label for="riddle_text">Riddle Text:</label>
    <input type="text" class="form_control" name="riddle_text">
    <label for="riddle_answer">Riddle Answeer:</label>
    <input type="text" class="form_control" name="ridlle_answer">
  </div>
  <button type="submit" class="btn">Add Riddle</button>
</form>
