<h2> Scrooll Of All Riddles</h2>
<% if @riddles.any? %>
  <ul>
    <% @riddles.each do |riddle| %>
      <li><a href="/riddles/<%=riddle.id %>"> <%= riddle.text %> </a></li>
    <% end %>
  </ul>
<% else %>
  <p> There is nothing to show here </p>
<% end %>
<div class="navbar navbar-light background-light navbar-expand-lg">
  <a class="nav-item nav-link active" href="/riddles/new">Add New Riddle</a>
</div>
