<p><%= @riddle.text %> </p>
<p><%= @riddle.answer %> </p>

<div class="navbar navbar-ligth background-light navbar-expand-lg">
  <a class="nav-item nav-link active" href="/riddles/<%= @riddle.id %>/edit">Update Riddle</a>
</div>
