<p> <%=@riddle.text %></p>
<form action="/second" method="get">
  <div>
    <input id="answer-id" name="answer" type="text" class="form-control">
  </div>
  <button type="submit" class="btn">Answer!</button>
</form>

